/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* My CSS Components */
@import url(components/banner.css);
@import url(components/container.css);
@import url(components/cards.css);
@import url(components/card.css);
@import url(components/footer.css);
@import url(components/links.css);
/* Utilities */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(193, 193, 193);
}

h1, h2, h3, h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.text-center {
  text-align: center;
}